<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Narmada Pustak Bhandar : Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js" integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style media="screen">
    body{
    }
    ul{
      width: 100%;
      position: sticky;
      top : 0;
      border-radius: 10px;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }
    li{
      list-style-type: none;
      float: left;
      background-color: black;
    }
.card{
margin : 5px;
}
    li a{
      color: white;
      text-align: center;
      display: block;
      padding: 14px 16px;
      text-decoration: none;
      font-size: larger;
    }
    .active{
      background-color: #b642f5;
      border-radius: 10px;
    }
    .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width : 100%;
  border-radius: 20px;
}
.card > img {
  border-radius: 20px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.grid-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 10px
}
.banner{
  padding: 10px;
  font-size: 3vw;
  font-weight: bold;
  margin-top: 20px;
  width : fit-content;
}
.cntr {
  padding: 2px 16px;
}
    @media screen and (max-width: 600px){
      li{
        float: none;
      }
      .card{
        font-size: medium
      }
      .banner{
        font-size: 5vw;
      }
      .grid-container{
         grid-template-columns: auto auto;
      }
    }
    @media screen and (min-width : 750px){
      .banner{
        font-size : 3.5vw
      }
      
    }
    @media screen and (min-width : 600px) and (max-width: 750px){
      .banner{
        font-size : 4vw
      }
    }
    @media screen and (min-width : 800px){
      .grid-container{
         grid-template-columns: auto auto auto auto;
      }
      .ft{
      }
    }
    #img{
      width : 90%;
      margin : 5%;
    }
    </style>
  </head>
  <body>
  <ul>
  <li><a class="active" id="home" href="/">Home</a></li>
  <li><a href="/#footer">Contact</a></li>
  <li><a href="/about">About</a></li>
  <li> <a href="/map">Map</a> </li>
  <li><a href="/problemResolver">Problem Resolver</a></li>
  </ul>
  <div class="banner">
    Welcome to Narmada Pustak Bhandar's page <hr> Explore our products and also other available Products
  </div>
  <img src="" id="img" alt="">
  <h1>Narmada Project :</h1>
  <div class="grid-container">
  <div class="card">
    <img src="/photos/9e-min (1).jpg" alt="9e" border="0" style="width:100%">
  <div class="cntr">
    <p>Product : Narmada Project </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p> Subject : English </p> <p> Class : 9th</p>
  </div>
  </div>
  <div class="card">
    <img src="/photos/9sst-min (1).jpg" alt="9h" border="0"style="width:100%">

  <div class="cntr">
    <p>Product : Narmada Project </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p> Subject : Social Science(hindi medium) </p> <p> Class : 9th</p>
  </div>
  </div>
  <div class="card">
    <img src="/photos/9h-min.jpg" alt="9h" border="0"style="width:100%">
  <div class="cntr">
    <p>Product : Narmada Project </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p> Subject : Hindi </p> <p> Class : 9th</p>
  </div>
  </div>
  <div class="card">
  <img src="/photos/9s-min.jpg" alt="Avatar" style="width:100%">
  <div class="cntr">
    <p>Product : Narmada Project </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p> Subject : Sanskrit </p> <p> Class : 9th</p>
  </div>
  </div>
  <div class="card">
  <img src="/photos/9m-min.jpg" alt="Avatar" style="width:100%">
  <div class="cntr">
    <p>Product : Narmada Project </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p> Subject : Maths(hindi medium) </p> <p> Class : 9th</p>
  </div>
  </div>
  <div class="card">
  <img src="/photos/10e-min.jpg" alt="Avatar" style="width:100%">
  <div class="cntr">
    <p>Product : Narmada Project </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p> Subject : English </p> <p> Class : 10th</p>
  </div>
  </div>
  <div class="card">
  <img src="/photos/10m-min.jpg" alt="Avatar" style="width:100%">
  <div class="cntr">
    <p>Product : Narmada Project </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p> Subject : Maths (hindi medium) </p> <p> Class : 10th</p>
  </div>
  </div>
  <div class="card">
  <img src="/photos/10s-min.jpg" alt="Avatar" style="width:100%">
  <div class="cntr">
    <p>Product : Narmada Project </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p> Subject : Sanskrit </p> <p> Class : 10th</p>
  </div>
  </div>
  <div class="card">
  <img src="/photos/10sst-min.jpg" alt="Avatar" style="width:100%">
  <div class="cntr">
    <p>Product : Narmada Project </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p> Subject : Social Science(hindi medium) </p> <p> Class : 10th</p>
  </div>
  </div>
  <div class="card">
  <img src="/photos/10h-min.jpg" alt="Avatar" style="width:100%">
  <div class="cntr">
    <p>Product : Narmada Project </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p> Subject : hindi </p> <p> Class : 10th</p>
  </div>
  </div>
</div>
<h1>A4 Notebooks :</h1>
<div class="grid-container">
  <div class="card">
  <img src="/photos/a41-min.jpg" alt="Avatar" style="width:100%">
  <div class="cntr">
    <p>A4 Notebook </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p> Page Quality : A-Grade </p>
  </div>
  </div>
  <div class="card">
  <img src="/photos/a42-min.jpg" alt="Avatar" style="width:100%">
  <div class="cntr">
    <p>A4 Notebook </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p> Page Quality : A-Grade </p>
  </div>
  </div>
  <div class="card">
  <img src="/photos/a43-min.jpg" alt="Avatar" style="width:100%">
  <div class="cntr">
    <p>A4 Notebook </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p> Page Quality : A-Grade </p>
  </div>
  </div>
  <div class="card">
  <img src="/photos/a44-min.jpg" alt="Avatar" style="width:100%">
  <div class="cntr">
    <p>A4 Notebook </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p> Page Quality : A-Grade </p>
  </div>
  </div>
  <div class="card">
  <img src="/photos/a45-min.jpg" alt="Avatar" style="width:100%">
  <div class="cntr">
    <p>A4 Notebook </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p> Page Quality : A-Grade </p>
  </div>
  </div>
  <div class="card">
  <img src="/photos/a46-min.jpg" alt="Avatar" style="width:100%">
  <div class="cntr">
    <p>A4 Notebook </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p> Page Quality : A-Grade </p>
  </div>
  </div>
  <div class="card">
  <img src="/photos/b`-min.jpg" alt="Avatar" style="width:100%">
  <div class="cntr">
    <p>A4 Notebook </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p>Page Quality : B-Grade</p>
  </div>
  </div>
</div>
<h1>Dual Cover Royal Notebook :</h1>
<div class="grid-container">
  <div class="card">
  <img src="/photos/dbl1-min.jpg" alt="Avatar" style="width:100%">
  <div class="cntr">
    <p>Dual Cover Royal Notebook(PVC and Hard Paper-Back) </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p>Page Quality : A-Grade </p>
  </div>
  </div>
  <div class="card">
  <img src="/photos/dbl2-min.jpg" alt="Avatar" style="width:100%">
  <div class="cntr">
    <p>Dual Cover Royal Notebook(PVC and Hard Paper-Back) </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p>Page Quality : A-Grade </p>
  </div>
  </div>
  <div class="card">
  <img src="/photos/dbl3-min.jpg" alt="Avatar" style="width:100%">
  <div class="cntr">
    <p>Dual Cover Royal Notebook(PVC and Hard Paper-Back) </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p>Page Quality : A-Grade </p>
  </div>
  </div>
  <div class="card">
  <img src="/photos/dbl4-min.jpg" alt="Avatar" style="width:100%">
  <div class="cntr">
    <p>Dual Cover Royal Notebook(PVC and Hard Paper-Back) </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p>Page Quality : A-Grade </p>
  </div>
  </div>
</div>
<h1>Royal Notebooks :</h1>
<div class="grid-container">
<div class="card">
<img src="/photos/royal1-min.jpg" alt="Avatar" style="width:100%">
<div class="cntr">
<p>Royal Notebook </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p>Page Quality : A-Grade</p>
</div>
</div>
<div class="card">
<img src="/photos/royal2-min.jpg" alt="Avatar" style="width:100%">
<div class="cntr">
<p>Royal Notebook </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p>Page Quality : A-Grade</p>
</div>
</div>
<div class="card">
<img src="/photos/royal3-min.jpg" alt="Avatar" style="width:100%">
<div class="cntr">
<p>Royal Notebook </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p>Page Quality : A-Grade</p>
</div>
</div>
<div class="card">
<img src="/photos/royal4-min.jpg" alt="Avatar" style="width:100%">
<div class="cntr">
<p>Royal Notebook </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p>Page Quality : A-Grade</p>
</div>
</div>
<div class="card">
<img src="/photos/royal5-min.jpg" alt="Avatar" style="width:100%">
<div class="cntr">
<p>Royal Notebook </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p>Page Quality : A-Grade</p>
</div>
</div>
<div class="card">
<img src="/photos/royal6-min.jpg" alt="Avatar" style="width:100%">
<div class="cntr">
<p>Royal Notebook </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p>Page Quality : A-Grade</p>
</div>
</div>
<div class="card">
<img src="/photos/royal7-min.jpg" alt="Avatar" style="width:100%">
<div class="cntr">
<p>Royal Notebook </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p>Page Quality : A-Grade</p>
</div>
</div>
<div class="card">
<img src="/photos/b-min.jpg" alt="Avatar" style="width:100%">
<div class="cntr">
  <p>Royal Notebook </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p>Page Quality : B-Grade</p>
</div>
</div>
</div>
<h1>CNB Notebooks :</h1>
<div class="grid-container">
  <div class="card">
  <img src="/photos/cnb1-min.jpg" alt="Avatar" style="width:100%">
  <div class="cntr">
    <p>CNB Notebook </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p>Page Quality : B-Grade</p>
  </div>
  </div>
  <div class="card">
  <img src="/photos/cnb2-min.jpg" alt="Avatar" style="width:100%">
  <div class="cntr">
    <p>CNB Notebook </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p>Page Quality : B-Grade</p>
  </div>
  </div>
  <div class="card">
  <img src="/photos/cnb3-min.jpg" alt="Avatar" style="width:100%">
  <div class="cntr">
      <p>CNB Notebook </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p>Page Quality : B-Grade</p>
  </div>
  </div>
  <div class="card">
  <img src="/photos/cnb4-min.jpg" alt="Avatar" style="width:100%">
  <div class="cntr">
    <p>CNB Notebook </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p>Page Quality : B-Grade</p>
  </div>
  </div>
  <div class="card">
  <img src="/photos/cnb5-min.jpg" alt="Avatar" style="width:100%">
  <div class="cntr">
<p>CNB Notebook </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p>Page Quality : B-Grade</p>
  </div>
  </div>
  <div class="card">
  <img src="/photos/cnb6-min.jpg" alt="Avatar" style="width:100%">
  <div class="cntr">
<p>CNB Notebook </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p>Page Quality : B-Grade</p>
  </div>
  </div>
  <div class="card">
  <img src="/photos/cnb7-min.jpg" alt="Avatar" style="width:100%">
  <div class="cntr">
<p>CNB Notebook </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p>Page Quality : B-Grade</p>
  </div>
  </div>
  <div class="card">
  <img src="/photos/cnb8-min.jpg" alt="Avatar" style="width:100%">
  <div class="cntr">
<p>CNB Notebook </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p>Page Quality : B-Grade</p>
  </div>
  </div>
  <div class="card">
  <img src="/photos/cnb9-min.jpg" alt="Avatar" style="width:100%">
  <div class="cntr">
<p>CNB Notebook </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p>Page Quality : B-Grade</p>
  </div>
  </div>
  <div class="card">
  <img src="/photos/cnb10-min.jpg" alt="Avatar" style="width:100%">
  <div class="cntr">
<p>CNB Notebook </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p>Page Quality : B-Grade</p>
  </div>
  </div>
  <div class="card">
  <img src="/photos/cnb11-min.jpg" alt="Avatar" style="width:100%">
  <div class="cntr">
    <p>Product : CNB Notebook</p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p> Page Quality : B-Grade </p>
  </div>
  </div>
  <div class="card">
  <img src="/photos/cnb12-min.jpg" alt="Avatar" style="width:100%">
  <div class="cntr">
    <p>Product : CNB Notebook</p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p> Page Quality : B-Grade </p>
  </div>
  </div>
</div>
<h1>CC Notebooks :</h1>
<div class="grid-container">
  <div class="card">
  <img src="/photos/cc1-min.jpg" alt="Avatar" style="width:100%">
  <div class="cntr">
<p>CC Notebook(Collage Assignment Notebook) </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p>Page Quality : A-Grade</p>
  </div>
  </div>
  <div class="card">
  <img src="/photos/cc2-min.jpg" alt="Avatar" style="width:100%">
  <div class="cntr">
<p>CC Notebook(Collage Assignment Notebook) </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p>Page Quality : A-Grade</p>
  </div>
  </div>
</div>
<h1>Small Notebooks :</h1>
<div class="grid-container">
  <div class="card">
  <img src="/photos/small1-min.jpg" alt="Avatar" style="width:100%">
  <div class="cntr">
    <p>Small Notebook </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p>Page Quality : B-Grade</p>
  </div>
  </div>
  <div class="card">
  <img src="/photos/small2-min.jpg" alt="Avatar" style="width:100%">
  <div class="cntr">
      <p>Small Notebook </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p>Page Quality : A-Grade</p>
  </div>
  </div>
</div>
<h1>Project Pages :</h1>
<div class="grid-container">
  <div class="card">
  <img src="/photos/plainPage-min.jpg" alt="Avatar" style="width:100%">
  <div class="cntr">
    <p>Project Page </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p>Page Qunatity : 28(including both sides)</p> <p>Page Type : Plain</p>
  </div>
  </div>
  <div class="card">
  <img src="/photos/oneSided-min.jpg" alt="Avatar" style="width:100%">
  <div class="cntr">
<p>Project Page </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p>Page Qunatity : 28(including both sides)</p> <p>Page Type : One-Sided(1 Phase is rulled and anthor phase is plain)</p>
  </div>
  </div>
  <div class="card">
  <img src="/photos/mixed-min.jpg" alt="Avatar" style="width:100%">
  <div class="cntr">
<p>Project Page </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p>Page Qunatity : 28(including both sides)</p> <p>Page Type : Mixed</p>
</div>
  </div>
  <div class="card">
  <img src="/photos/rulled-min.jpg" alt="Avatar" style="width:100%">
  <div class="cntr">
<p>Project Page </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p>Page Qunatity : 28(including both sides)</p> <p>Page Type : Rulled</p>
  </div>
  </div>
</div>
<h1>Registers :</h1>
<div class="grid-container">
  <div class="card">
  <img src="/photos/Register-min.jpg" alt="Avatar" style="width:100%">
  <div class="cntr">
    <p>Register </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p>Page Quality : A-Grade </p>
  </div>
  </div>
  <div class="card">
  <img src="/photos/register'-min.jpg" alt="Avatar" style="width:100%">
  <div class="cntr">
    <p>Register </p> <p>Manufacturer : Narmada Pustak Bhandar</p>  <p>Page Quality : A-Grade </p>  </div>
  </div>
    </div>

    <script type="text/javascript">


      let img = document.getElementById('img');
      let time = 2500;
      let arr = []
      let i = 0
      arr[0] = '/photos/b1-min.jpeg'
      arr[1] = '/photos/b2-min.jpeg'
      arr[2] = '/photos/b3-min.jpeg'
      let changeImg = ()=>{
        img.src = arr[i]
        if(i<arr.length-1){
          i++
        }else{
          i = 0
        }

        setTimeout('changeImg()',time)
      }

      window.onload = changeImg;
    </script>
  </body>
  <div style="margin-top : 0.5cm">
  <footer id="footer" style="
  background-color : rgb(7, 7, 7);
  bottom : 0;
  left : 0;
  width : 100%;
  color : white;
  margin: auto;

    ">
    <h1 style="padding:15px;">Follow us on</h1>
  <p class="ft" style="padding:15px;font-size: 1.5cm;"><a style="color:white;margin-right: 20px;" href="https://www.instagram.com/narmada_pustak_bhandar/"><i class="fa-brands fa-instagram" style="color: #ea2ac7;"></i></a> <a style="color:white;margin-right: 20px" href="https://www.facebook.com/people/Narmada-Pustak-Bhandar/100076448975463/"><i class="fa-brands fa-facebook" style="color: #1549a2;"></i></a> <a style="color:white;margin-right: 20px"  href="https://twitter.com/NarmadaChanchal"><i class="fa-brands fa-twitter" style="color: #1f68e5;"></i><a style="color:white;margin-right: 20px"  href="https://www.google.com/maps/place/Narmada+Pustak+Bhandaar/@22.944736,81.077063,21z/data=!4m12!1m6!3m5!1s0x0:0x885a75d99bedc2!2sNarmada+Pustak+Bhandaar!8m2!3d22.944709!4d81.0770745!3m4!1s0x0:0x885a75d99bedc2!8m2!3d22.944709!4d81.0770745?hl=en-GB"><i class="fa-solid fa-location-crosshairs" style="color: #08a63f;"></i></a></p>
  <h1 style="padding:15px;">Address</h1>
  <div class="l" style="">
    <h2 style="padding : 15px" id="l">Narmada pustak Bhandar <br> Indra Market, Dindori <br> 481880 <br> Madhya Pradesh, India </h2>
  </div>
<div class="r" >
  <h2 id="r" style="padding : 15px">Maa Narmada Enterprices <br>Shop no.s 13,14,15 & 16 <br> Ghandhi Chowk, Dindori <br> 481880 <br>Madhya Pradesh, India </h2>
</div>

<p style="font-size: 1cm;font-weight: bolder;padding : 15px;">
  Contact us <br></p>
  <p style="font-size: 0.6cm;font-weight: bold;padding : 15px;"> <a href="tel:+919109766222"><i class="fa-solid fa-phone"></i></a>Chanchal Agrawal (Roll : Owner) <br>
<a href="tel:+918085024486"><i class="fa-solid fa-phone"></i></a>Mahesh Agrawal (Roll : Owner)</p>
</footer>
</div>

</html>
